@charset "UTF-8";

header h1 {
    font-size: 2em;
    text-align: center;
}

header p {
    font-size: 0.9em;
}

main {
    width: 372px;
}

img {
    max-width: 90px;
}

div.separacao {
    width: 184px;
    margin: auto;
}

footer p {
    font-size: 1.2em;
}
