@charset "UTF-8";

@media screen and (min-width: 200px) and (max-width: 768px) {
    header h1 {
        font-size: 2em;
        text-align: center;
    }
    
    header p {
        font-size: 0.9em;
    }
    
    main {
        width: 49vw;
    }
    
    img {
        max-width: 120px;
    }
    
    div.separacao {
        width: 154px;
        margin: auto;
    }
    
    footer p {
        font-size: 1.2em;
    }
}
